.TemperatureHeader {
  background: #9900ff;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: white;
}

.graphContainer{
  padding: 20px 15px 15px 15px;
 text-align: center;
}

.graph{
    display: inline-block;
}
